
body{
    background-image: url("images/backgroundImage2.jpg");
}
#box{
    display: block;
    width:200px;
    height: 200px;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.5);
    color:orange;
    text-align: center;
    padding: 25px;
   /* opacity: 0.5;*/


}

